body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: #e6e6e6;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #151515;
    border-radius: 10px;
}

.backToHome {
    color: white;
}

.index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1, h2 {
    color: #00ff00;
    text-shadow: 2px 2px #000;
}

a {
    color: #00ff00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

li {
    margin: 10px 0;
}

button.toggle-button {
    background: #00ff00;
    color: #0a0a0a;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
}

button.toggle-button:hover {
    background: #00e600;
}

.content {
    display: none;
    margin-top: 10px;
}

ol {
    padding-left: 20px;
}

code {
    background: #333;
    color: #00ff00;
    padding: 2px 5px;
    border-radius: 5px;
}

pre.code-block {
    position: relative;
    background-color: #282c34;
    color: #abb2bf;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

pre.code-block code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background: none;
    z-index: 100;
}

.copy-button img {
    width: 100%;
    height: 100%;
    z-index: 100;
}
